privatekey*.json
track.id
ee.creds
scihub.creds
node/client.js
node/node_modules
node/npm-debug.log
npm-debug.log
.node-xmlhttprequest-sync-*
provision/*/*.retry
calib/downloads/*.zip
calib/calibrated/*.tif
